* {
  margin: 0;
  padding: 0;
}

.barra {
  background-color: bisque;
}

h1 {
  background-color: aquamarine;
}
h2 {
  color: green;
}

p {
  background-color: beige;
}
footer {
  background-color: blueviolet;
}
